
:root {
    --color-scheme-background: white;
    --color-scheme-text: black;
    --color-scheme-secondary: #333;
    --color-scheme-shadow: #eee;
}

/* Light Theme */
@media (prefers-color-scheme: light) {
    :root {
	--color-scheme-background: white;
	--color-scheme-text: black;
	--color-scheme-secondary: #333;
	--color-scheme-shadow: #eee;
    }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root {
	--color-scheme-background: #222;
	--color-scheme-text: white;
	--color-scheme-secondary: #eee;
	--color-scheme-shadow: #333;
    }

    /* Make links readable */
    a:link    { color: lightblue }
    a:visited { color: lightblue }
    a:hover   { color: lightblue }
}

body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 52em;
    color: var(--color-scheme-text);
    background: var(--color-scheme-background);
}

#content {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}


@media  (width >= 43em) {
    #profile {
	float: right;
    }
}

@media (width < 43em) {
    #profile {
	float: inline;
	/* max-width: 292px; */
    }
}

#preamble {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-bottom: 0.25em;
}

#updated {
    font-family: monospace;
    font-size: 1em;
    color: var(--color-scheme-secondary);
    padding-top: 2em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px dotted var(--color-scheme-secondary);
}

nav {
    margin-top: 1.4em;
}

#preamble a {
    text-transform: uppercase;
    border: 1px solid var(--color-scheme-secondary);
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

nav a:link { color: var(--color-scheme-text); }
nav a:visited { color: var(--color-scheme-text); }
nav a:hover {
    color: var(--color-scheme-background);
    background: var(--color-scheme-text);
}

figure {
    border: 2px solid var(--color-scheme-text);
    box-shadow: 4px 4px 6px var(--color-scheme-shadow);
    display: inline-block;
    font-family: monospace;
}

img {
    padding: 0.9em;
}

figcaption {
    padding-left: 0.9em;
    padding-bottom: 0.9em;
}

.todo   { font-family: monospace; color: red; }
.done   { font-family: monospace; color: green; }


.timestamp {
    font-family: monospace;
    color: var(--color-scheme-secondary);
}

.timestamp:after {
    concontent: '\A';
}

li {
    padding-bottom: 0.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.7em;
    margin-bottom: 0.2em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--color-scheme-text);
    box-shadow: 4px 4px 6px var(--color-scheme-shadow);
}

th, td {
    padding: 0.25em;
    border: 1px solid var(--color-scheme-secondary);
}

pre {
    font-size: 1.25em;
    overflow: auto;
    border: 2px solid var(--color-scheme-text);
    box-shadow: 4px 4px 6px var(--color-scheme-shadow);
    padding: 1em;
}


.published {
    font-family: monospace;
    font-size: 1.3em;
    color: var(--color-scheme-secondary);
}

.right-justify {
    float: right;
}


.comma-list ul {
    list-style: none;
}

.comma-list li {
    display: inline;
}

.comma-list li:after {
    content: ", ";
}

.comma-list li:last-child:before {
    content: "and ";
}

.comma-list li:last-child:after {
    content: "";
}

.license-notice-container {
    height: 10em;
    position: relative;
}

.license-notice {
    text-align: center;
    padding: 1em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: lightyellow;
    border: 1px dotted var(--color-scheme-secondary);
    border-radius: 1em;
}

.license-notice img {
    margin: 0;
    padding: 0;
}

.notice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.urgent a:link {
    color: red;
}

.urgent a:visited {
    color: red;
}

.urgent a:hover {
    color: darkred;
}

.blog-entries ul {
    list-style: none;
    padding-left: 0;
}

.blog-entries li {
    padding-bottom: 5mm;
}

.blog-entries a {
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bold;
}

.blog-entries span {
    display: block;
}

.footdef {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.footpara {
    display: inline;
}

footer {
    font-family: "fira sans", sans;
    font-size: 80%;
    line-height: 1.5em;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.generated {
    font-family: monospace;
    text-align: center;
    padding: 1em;
}
