/* -*- tab-width: 4 -*- */

/* PT Serif fonts */

@font-face {
	font-family: 'PT Serif';
	src:
		url('static/pt-serif_bold.woff2') format('woff2'),
		url('static/pt-serif_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src:
		url('static/pt-serif_bold-italic.woff2') format('woff2'),
		url('static/pt-serif_bold-italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src:
		url('static/pt-serif_italic.woff2') format('woff2'),
		url('static/pt-serif_italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src:
		url('static/pt-serif_regular.woff2') format('woff2'),
		url('static/pt-serif_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Mono';
	src:
		url('static/pt-mono_bold.woff2') format('woff2'),
		url('static/pt-mono_bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Mono';
	src:
		url('static/pt-mono_regular.woff2') format('woff2'),
		url('static/pt-mono_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url('static/pt-sans_bold.woff2') format('woff2'),
		url('static/pt-sans_bold.woff') format('woff');
	font-weight: normal;
	font-style: bold;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url('static/pt-sans_bold-italic.woff2') format('woff2'),
		url('static/pt-sans_bold-italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans Caption';
	src:
		url('static/pt-sans_caption-bold.woff2') format('woff2'),
		url('static/pt-sans_caption-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Caption';
	src:
		url('static/pt-sans_caption-regular.woff2') format('woff2'),
		url('static/pt-sans_caption-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url('static/pt-sans_italic.woff2') format('woff2'),
		url('static/pt-sans_italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src:
		url('static/pt-sans_narrow-bold.woff2') format('woff2'),
		url('static/pt-sans_narrow-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src:
		url('static/pt-sans_narrow-regular.woff2') format('woff2'),
		url('static/pt-sans_narrow-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src:
		url('static/pt-sans_regular.woff2') format('woff2'),
		url('static/pt-sans_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


:root {
	--color-background: white;
	--color-text: black;
	--color-secondary: #333;
	--color-shadow: #eee;
	--color-link: #0000bb;
	--color-link-active: #223fbf;
	--border-width: 2px;
	--max-paragraph-width: 70ch;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-background: #ffffff;
		--color-text: #000000;
		--color-secondary: #333;
		--color-shadow: #eee;
		--color-link: #0000bb;
		--color-link-active: #223fbf;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #000000;
		--color-text: #ffffff;
		--color-secondary: #eee;
		--color-shadow: #333;
		--color-link: #00bcff;
		--color-link-active: #79a8ff;
	}
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 120%;
	margin: 0 auto;
	padding: 0 1em;
	max-width: 59rem;
	color: var(--color-text);
	background: var(--color-background);
}

p {
	font-family: "PT Sans", sans-serif;
	line-height: 160%;
 	max-width: var(--max-paragraph-width);
}

#content > * {
	grid-column: 2;
}

/* #content { */
/* 	max-width: 40rem; */
/* 	margin: auto; */
/* } */

#postamble {
	max-width: var(--max-paragraph-width);
	max-width: 59rem;
	margin: auto;
}

#org-div-home-and-up {
	max-width: 56rem;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	position: sticky;
	top: 0px;
	float: left;
}

#org-div-home-and-up a {
	font-family: "PT Mono", monospace;
	margin: 0 0.5ex;
	padding: 0.2ex 0.4ex;
	text-decoration: none;
	text-transform: uppercase;
	background: var(--color-background);
	border: var(--border-width) solid var(--color-text);
	border-top: 0;
}

#updated {
	font-size: 85%;
	font-family: "PT Mono", monospace;
	color: var(--color-secondary);
	padding: 1.5em 1em 0.75em;
	border-bottom: 1px dotted var(--color-secondary);
	float: right;
}

nav li {
	padding: 0.5ex 0;
}

nav a {
	padding: 0.2ex 0.4ex;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans", sans-serif;
}

header {
	max-width: 65rem;
	margin: auto 0;
	padding-top: 2.8em;
}

.title {
	font-family: "PT Mono", monospace;
	font-size: 2.8em;
}

.publish-date {
	font-family: "PT Mono", monospace;
}

a:link, a:visited {
	color: var(--color-link);
}

a:hover, a:active {
	color: var(--color-link-active);
	text-decoration: none;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content img {
	/* border: var(--border-width) solid var(--color-text);  */
	max-width: 95vw;
    max-height: auto;
}

figcaption {
	font-family: "PT Mono", monospace;
	padding-top: 1ex;
	text-align: center;
}

blockquote {
	border-left-style: solid;
	padding-left: 1em;
	color: var(--color-secondary);
}


li {
	padding-bottom: 0.8em;
}

table {
	border-collapse: collapse;
	border: var(--border-width) solid var(--color-text);
	box-shadow: 4px 4px 6px var(--color-shadow);
}

th {
	color: var(--color-background);
	background-color: var(--color-text);
	border: 1px solid var(--color-background);
	padding: 0.25em;
}

td {
	border: 1px solid var(--color-text);
	padding: 0.25em;
}

pre {
	font-family: "PT Mono", monospace;
	overflow: auto;
	scrollbar-color: grey lightgrey;
	scrollbar-width: thin;
	border: var(--border-width) solid var(--color-text);
	box-shadow: 4px 4px 6px var(--color-shadow);
	padding: 1em;
	max-width: 80ch;
}

kbd {
	background-color: var(--color-shadow);
	border-radius: 3px;
	border: 1px solid var(--color-secodnary);
	color: var(--color-text);
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

.todo	{ font-family: "PT Mono", monospace; color: red; }
.done	{ font-family: "PT Mono",  monospace; color: green; }

.tag {
    background-color: #eee;
    font-family: "PT Mono", monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: normal;
}

.timestamp {
	font-family: "PT Mono", monospace;
	color: var(--color-secondary);
}

/* If in heading display above */
h1 .timestamp, h2 .timestamp, h3 .timestamp, h4 .timestamp, h5 .timestamp, h6 .timestamp {
	display: block;
}

.published {
	font-size: 1.3em;
	font-family: "PT Mono", monospace;
	color: var(--color-secondary);
}

.footdef {
	max-width: var(--max-paragraph-width);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.footpara {
	display: inline;
}

footer {
	margin: auto;
	font-size: 80%;
	line-height: 1.5em;
}

.copyright-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0.5ex;
}

.banner {
	text-align: center;
	max-width: 100%;
	padding: 1ex 0.5ex;
}

.banner img {
	max-width: 95vw;
	max-height: auto;
}

.generated {
	font-family: "PT Mono", monospace;
	text-align: center;
}

/* Index */

@media	(min-width: 43em) {
	.profile-pic {
		float: right;
	}
}
